body {margin: 0px; padding: 0px;
width: 800px;
height: 600px;
margin-left: auto;
margin-right: auto;
}


#titulo{
    background: rgb(164,195,34);
    background: linear-gradient(0deg, rgba(164,195,34,0.8267682072829132) 0%, rgba(210,253,45,0.9556197478991597) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#img1 img{
    text-align: center;
    width: 400px;
    height: 300px;
    float: left;
   
}

div #text1 {
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

#text1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 80px;
    line-height: 30px;

}

#perfil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 4px rgba(164,195,34,0.8267682072829132);
    float: left;
}
div #text-perfil{
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.apresentacao{
    margin-bottom: 50px;
}

div #txt-resumo {
    margin-top:280px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.projetos{
    background: rgb(164,195,34);
    background: linear-gradient(0deg, rgba(164,195,34,0.8267682072829132) 0%, rgba(210,253,45,0.9556197478991597) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    clear: both;


}